@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@font-face {
    font-family: Shabnam;
    src: url('../fonts/eot/Shabnam.eot');
    src: url('../fonts/eot/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Shabnam.woff2') format('woff2'),
    url('../fonts/woff/Shabnam.woff') format('woff'),
    url('../fonts/ttf/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/eot/Shabnam-Bold.eot');
    src: url('../fonts/eot/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Shabnam-Bold.woff2') format('woff2'),
    url('../fonts/woff/Shabnam-Bold.woff') format('woff'),
    url('../fonts/ttf/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/eot/Shabnam-Thin.eot');
    src: url('../fonts/eot/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Shabnam-Thin.woff2') format('woff2'),
    url('../fonts/woff/Shabnam-Thin.woff') format('woff'),
    url('../fonts/ttf/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/eot/Shabnam-Light.eot');
    src: url('../fonts/eot/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Shabnam-Light.woff2') format('woff2'),
    url('../fonts/woff/Shabnam-Light.woff') format('woff'),
    url('../fonts/ttf/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/eot/Shabnam-Medium.eot');
    src: url('../fonts/eot/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/Shabnam-Medium.woff2') format('woff2'),
    url('../fonts/woff/Shabnam-Medium.woff') format('woff'),
    url('../fonts/ttf/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
}

body {
    padding: 0;
    margin: 0;
    font-family: Shabnam , sans-serif;
    font-size: 14px;
}

/*Task Manager Style*/
.page {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.pageHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #8054cd;
    color: White;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 20px;
    vertical-align: middle;
    border-radius: 30px 30px 0 0 ;
}
.pageHeader .title {
    width: 40%;
    float: left;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: 700;
}
.pageHeader .userPanel {
    width: 40%;
    float: right;
}
.pageHeader .userPanel i {
    float: right;
    line-height: 40px;
    padding-right: 10px;
}
.pageHeader .userPanel .username {
    float: right;
    line-height: 40px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 1.0em;
}
.pageHeader .userPanel img {
    float: right;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.main {
    position: relative;
    width: 100%;
    height: 90%;
    clear: both;
    background-color: white;
    border-radius: 0 0 30px 30px;
    overflow-y: auto;
    overflow-x: hidden;
}
.main .nav {
    width: 200px;
    height: 100%;
    float: left;
    background-color: rgba(227, 234, 235, 0.8);
    border-radius: 0 0 0 30px;
    overflow-y: auto;
    overflow-x: hidden;
}
.main::-webkit-scrollbar , .main .nav::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}

.main::-webkit-scrollbar-track , .main .nav::-webkit-scrollbar-track {
    background: #8054cd;        /* color of the tracking area */
}
.main::-webkit-scrollbar-thumb , .main .nav::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid deeppink;  /* creates padding around scroll thumb */
}
.main .nav .searchbox {
    width: 170px;
    height: 30px;
    line-height: 30px;
    margin: 15px;
    background-color: White;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.main .nav .searchbox i {
    display: inline-block;
    color: #bbb;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}
.main .nav .searchbox input {
    display: inline-block;
    width: 120px;
    background-color: White;
    color: Black;
    font-family: Shabnam , sans-serif;
    border: 0;
    outline: none;
}
.main .nav .folderbox {
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 30px;
    line-height: 30px;
    margin: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.main .nav .folderbox button {
    display: inline-block;
    color: #c53fec;
    font-size: 20px;
}
.main .nav .folderbox input {
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 94%;
    background-color: White;
    color: Black;
    font-family: Shabnam , sans-serif;
    border: 0;
    outline: none;
}
.main .nav .menu {
    width: 100%;
    margin: 15px;
    color: #555;
}
.main .nav .menu .title {
    font-weight: 700;
    font-size: 1.0em;
    text-transform: uppercase;
}
.main .nav .menu ul {
    padding-left: 0;
}
.main .nav .menu ul li {
    cursor: pointer;
    list-style: none;
    margin: 5px 30px 5px 0;
    padding: 10px 5px;
    font-weight: 600;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    transition: 0.25s all;
    display: flex;
    justify-content: space-between;
}
.main .nav .menu ul li.deactivate {
    color: #7232b7
}
.main .nav .menu ul li.active {
    color: #bc46b2;
}
.main .nav .menu ul li:hover {
    background-color: #999;
}
.main .nav .menu ul li i {
    font-size: 1.4em;
    margin-right: 10px;
}
.main .view {
    position: relative;
    margin-left: 200px;
}
.main .view .viewHeader {
    width: 100%;
    height: 70px;
    line-height: 70px;
    /*padding: 20px 20px;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}
.main .view .viewHeader .title {
    float: left;
    font-size: 1.4em;
    font-weight: 400;
    padding: 0;
    color: #AAA;
    margin-left: 20px;
}
.main .view .viewHeader .functions {
    /*float: right;*/
}
.main .view .viewHeader .functions form {
    display: flex;
    justify-content: right;
    align-items: center;
}
.main .view .viewHeader .functions form input {
    width: 150%;
    font-family: Shabnam,sans-serif;
}
.main .view .viewHeader .functions form input , .main .view .viewHeader .functions .button {
    line-height: 30px;
    float: right;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: pink;
    border-radius: 4px;
    margin: 10px 5px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    outline: none;
}
.main .view .viewHeader .functions .button {
    cursor: pointer;
    color: white;
}
.main .view .viewHeader .functions .button.active {
    background-color: #6454cd;
}
.main .view .viewHeader .functions .button.inverz {
    background-color: inherit;
    border: 1px solid #AAA;
    width: 10px;
    color: #AAA;
    font-size: 1.3em;
    padding-left: 10px;
    padding-right: 16px;
}
.main .view .content {
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    padding: 10px;
    /*overflow: hidden;*/
}
.main .view .content .list .title {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #54b9cd;
}
.main .view .content .list ul {
    width: 100%;
    padding-left: 10px;
    color: #777;
}
.main .view .content .list ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    list-style: none;
    border-top: 1px solid #AAA;
}
.main .view .content .list ul li.checked {
    background-color: #F0F4F5;
}
.main .view .content .list ul li:last-child {
    border-bottom: 1px solid #AAA;
}
.main .view .content .list ul li i {
    float: left;
    width: 30px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    font-size: 1.3em;
}
.main .view .content .list ul li span {
    float: left;
    font-weight: 600;
}
.main .view .content .list ul li .info {
    float: right;
}
.main .view .content .list ul li .info span {
    font-weight: 300;
}
.main .view .content .list ul li .info .button {
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #AAA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;
    color: White;
    font-weight: 700;
}
.main .view .content .list ul li .info .button.green {
    background-color: #57a8c1;
}

.clear {
    clear: both;
}
#profile-img {
    width: 40px;
    height: 40px;
}

a {
    color: unset;
    text-decoration: unset;
}
.a_delete i:hover {
    font-weight: bolder;
}
.isDone:hover {
    cursor: pointer;
}

/* Style For Auth Page */
:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --PrimaryColor: #a6039e;
    --SecondryColor: #8d0097;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: Shabnam, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.auth {
    align-items: center;
    background: var(--white) url("../img/bg/bg1.jpg") no-repeat fixed center;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

body.auth .form__title {
    font-weight: 300;
    margin: 0 0 1.25rem;
}

body.auth .link {
    color: var(--gray);
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}

body.auth .container {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
}

body.auth .container__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

body.auth .container--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}

body.auth .container.right-panel-active .container--signin {
    transform: translateX(100%);
}

body.auth .container--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

body.auth .container.right-panel-active .container--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

body.auth .container__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

body.auth .container.right-panel-active .container__overlay {
    transform: translateX(-100%);
}

body.auth .overlay {
    background: var(--SecondryColor) url("../img/bg/bg1.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

body.auth .container.right-panel-active .overlay {
    transform: translateX(50%);
}

body.auth .overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

body.auth .overlay--left {
    transform: translateX(-20%);
}

body.auth .container.right-panel-active .overlay--left {
    transform: translateX(0);
}

body.auth .overlay--right {
    right: 0;
    transform: translateX(0);
}

body.auth .container.right-panel-active .overlay--right {
    transform: translateX(20%);
}

body.auth .btn {
    background-color: var(--PrimaryColor);
    background-image: linear-gradient(90deg, var(--PrimaryColor) 0%, var(--SecondryColor) 74%);
    border-radius: 20px;
    border: 1px solid var(--PrimaryColor);
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

body.auth .form > .btn {
    margin-top: 1.5rem;
}

body.auth .btn:active {
    transform: scale(0.95);
}

body.auth .btn:focus {
    outline: none;
}

body.auth .form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

body.auth .input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
    font-family: Shabnam, sans-serif;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}